<p><%=@student.full_name%></p>
<p>Age: <%=@student.age%> </p>
<p>House: <%=@student.house.name%> </p>
<img class="single-logo" src="<%=@student.house.logo%>" alt="">
<a class="edit-link" href="/students/<%=@student.id%>/edit">Edit</a>
